header{
  background: url(/resources/pingus-wwf-CROPPED.png) no-repeat 50% 0%;
  background-size: cover;
  height: 100vh;
}

nav{
  background-image: url(/resources/tiled_geo_dark.png);
  height: 10%;
}

ul
a{
  font-weight: bold;
}

a
span{
  font-size: 24px;
}

header
p{
  font-weight: bold;
}