a
span{
  font-size: 24px;
  color: white;
}

h1{
  color: white;
}

span{
  color: white;
}

header{
  background: url(/resources/ISS-30_Europe_above_the_Tyrrhenian_Sea-modified.png) no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
}

body{
  background-image: url(/resources/tiled_geo_dark.png);
  height: 100vh;
}

nav{
  background-image: url(/resources/tiled_geo_dark.png);
  height: 10%;
}

header
p{
  font-weight: bold;
}

ul
a{
  font-weight: bold;
}
